 /* Estilos para a barra de navegação */
 .nav {
    background-color: #84bf99; /* Cor de fundo da barra de navegação */
    padding: 10px 20px; /* Espaçamento interno */
  }
  
  /* Estilos para os links na barra de navegação */
  .nav-link {
    color: #f2f2f2; /* Cor do texto dos links */
    margin-right: 20px; /* Espaçamento entre os links */
  }
  
  /* Estilos para o link ativo na barra de navegação */
  .nav-link.active {
    font-weight: bold; /* Estilo do link ativo */
  }
  
  /* Estilos para o ícone de pessoa */
  .bi-person-circle {
    color: #fff; /* Cor do ícone de pessoa */
  }
  
  /* Estilos para o botão de menu responsivo */
  .navbar-toggler {
    border: none; /* Remove a borda do botão */
    background-color: transparent; /* Cor de fundo transparente */
    color: #fff; /* Cor do ícone do botão */
  }
  
  /* Estilos para o ícone do botão de menu responsivo */
  .navbar-toggler-icon {
    background-color: #fff; /* Cor do ícone do botão */
    width: 20px; /* Largura do ícone */
    height: 2px; /* Altura do ícone */
  }
 
 
 
 
 body {
    background-color: #fff;
  
}

.nav-link.active {
    font-weight: bold;
}
.book-card img {
    width: 100%;
    height: auto;
}
.book-card .card-body {
    padding: 0.5rem;
}
.rating {
    display: flex;
    align-items: center;
}
.rating i {
    margin-right: 0.2rem;
}

a {
  text-decoration: none;
}

/* Estilos para os links dentro dos cards */
.card a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Herda a cor do texto do elemento pai (card) */
}

.card a:hover {
  color: #84bf99; /* Mantém a cor do texto ao passar o mouse */
  text-decoration: none; /* Mantém o sublinhado removido */
}